* {
  box-sizing: border-box;
}
html {
  max-width: 100%;
}

:root {
  /* COLOUR VARIABLES */
  --beige: #f9efde;
  --blue: #0e8bcd;
  --light-green: #5b8f77;
  --yellow: #e1b52f;
  --grey: #919191;
  --green: #003d2b;
  --pink: #cb026e;
  --orange: #d86c01;
  --purple: #8b3076;
  --dark-blue: #01608a;

  /* FONT VARIABLES */
  /*--futura: "futura-pt, sans-serif";*/
  --jost: "Jost", sans-serif;
  --extra-bold: 800;
  --small-fs: 1.5rem;
  --large-fs: 15rem;

  --circle-width: 9.25vw;
  --screen-small-container: 90%;
  --screen-large-container: 60%;
  --screen-small-step-height: 70vh;
  --screen-large-step-height: 90vh;
  --circle-multiplier: 6;
  --circle-speed: 2500ms;
  --circle-delay: 250ms;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 60vh;
  }
}

#hero-text {
  position: relative;
  z-index: 100;
}

.circles > * {
  position: absolute;
  z-index: 0;
  right: 16.5vw;
  width: 9.1vw;
  height: 9vw;
  border-radius: 50%;
  animation-duration: var(--circle-speed);
  /* COMMENT OUT BELOW FOR JS ANIMATION */
  animation-name: fadeInDown;
  animation-direction: normal;
  opacity: 0;
  animation-fill-mode: forwards;
}

#start {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--green);
  font-family: var(--jost);
  background-color: var(--beige);
  margin: 0px;
}

#fade-elements {
  position: absolute;
  bottom: 0px;
  flex-direction: column;
  opacity: 0;
}

h1 {
  font-size: 12vw;
  position: relative;
}

small {
  position: absolute;
  margin-left: -1.25vw;
  top: 8vw;
  transform-origin: center;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  width: 10.5vw;
  text-align: center;
  color: var(--beige);
  font-size: 0.9vw;
  background-color: var(--green);
  letter-spacing: 1px;
  font-weight: normal;
}

#down-arrow {
  padding-bottom: 20px;
  margin-top: -20px;
  width: 5%;
}

h2 {
  font-size: var(--small-fs);
}

h1,
h2,
small {
  font-weight: var(--extra-bold);
}

p {
  font-size: var(--small-fs);
  padding: 1rem;
  margin: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-horizontal {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

#data_viz_container {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

#dataviz_one {
  position: absolute;
  bottom: 300px;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dataviz_two,
#dataviz_three {
  position: relative;
  z-index: 1000;
  width: 100%;
  margin: 20px auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CIRCLE ELEMENTS */
#circles-intro {
  position: relative;
  z-index: 0;
  /* COMMENT OUT FOR JS ANIMATION */
  top: -21vw;
  /* UNCOMMENT FOR JS ANIMATION */
  /* top: -14vw; */
  left: 6.5vw;
}

#purple-c {
  background-color: var(--blue);
  animation-delay: calc(var(--circle-delay) * 1);
}
#orange-c {
  background-color: var(--green);
  animation-delay: calc(var(--circle-delay) * 2);
}

#dark-blue-c {
  background-color: var(--yellow);
  animation-delay: calc(var(--circle-delay) * 3);
}
#light-green-c {
  background-color: var(--pink);
  animation-delay: calc(var(--circle-delay) * 4);
}
#grey-c {
  background-color: var(--grey);
  animation-delay: calc(var(--circle-delay) * 5);
}
#pink-c {
  background-color: var(--light-green);
  animation-delay: calc(var(--circle-delay) * 6);
}
#yellow-c {
  background-color: var(--dark-blue);
  animation-delay: calc(var(--circle-delay) * 7);
}

#green-c {
  background-color: var(--orange);
  animation-delay: calc(var(--circle-delay) * 8);
}
#blue-c {
  background-color: var(--purple);
  animation-delay: calc(var(--circle-delay) * 9);
}

.step {
  margin: auto;
  height: var(--screen-large-step-height);
  width: var(--screen-large-container);
}

.step p {
  text-align: center;
}

#step0 {
  position: relative;
  width: 100%;
}

#step3 {
  padding-bottom: 200px;
}

article {
  width: var(--screen-large-container);
  margin: auto;
  margin-top: 200px;
  font-size: var(--small-fs);
  position: relative;
  z-index: 1;
}

#billion-dollar-dot {
  height: 80vh;
  width: 100%;
}

#billions-of-dots-viz {
  position: relative;
  z-index: 1;
  padding: 100px 0;
  width: 1200px;
  margin: auto;
}
.tooltip {
  z-index: 2;
}

#dataviz3-text {
  margin-top: 100px;
  margin-bottom: 100px;
}
#tax-available {
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;
}
#Layer_2 {
  height: 90vh;
  width: 100%;
}

@media (max-width: 768px) {
  p {
    font-size: 14px;
  }

  #step0 {
    height: 100vh;
  }

  .step {
    height: var(--screen-small-step-height);
  }

  .step,
  article {
    width: var(--screen-small-container);
  }

  #dataviz-two-sizing {
    width: max-content;
  }

  .dataviz_three_spacing {
    margin-top: 5000px;
  }

  #Layer_1,
  #Layer_2 {
    max-width: 800px;
    max-height: 800px;
    display: block;
    margin: auto;
  }

  #Layer_2 {
    display: block;
    margin: auto;
  }

  #billion-dollar-dot {
    margin: 5px;
    padding: 5px;
  }
}
