* {
  box-sizing: border-box;
}

:root {
  /* COLOUR VARIABLES */
  --beige: #f9efde;
  --blue: #0e8bcd;
  --green: #003d2b;
  --pink: #cb026e;
  --orange: #d86c01;
  --purple: #8b3076;
  --dark-blue: #01608a;

  /* FONT VARIABLES */
  /*--futura: "futura-pt, sans-serif";*/
  --jost: "Jost", sans-serif;
  --extra-bold: 800;
  --small-fs: 1.5rem;
  --large-fs: 15rem;
}

#start {
  height: 100vh;
}

body {
  background-color: var(--beige);
}

h1 {
  color: var(--green);
  font-size: var(--large-fs);
}

small {
  position: absolute;
  top: 48.9%;
  margin-left: -31px;
  rotate: 270deg;

  width: 224px;
  text-align: center;

  color: var(--beige);
  font-size: var(--small-fs);
  background-color: var(--green);
}

h1,
small {
  font-family: var(--jost);
  font-weight: var(--extra-bold);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SCROLL ELEMENTS */

#scrolly {
  position: relative;
}

article {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  width: 33%;
}

.step {
  margin: 2rem auto 4rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
